// Navigation Styles here

.nav-container {
    display        : flex;
    width          : 100%;
    margin         : auto;
    border-bottom  : 3px dashed #C0C0C0;
    justify-content: space-evenly;
    padding        : 25px 0px;

    @media @mobile{
        flex-flow: column;
        padding: 10px 35px;
        align-items: center;
    }

    nav {
        padding-top: 10px;

        a {
            text-decoration: none;
            font-size      : 1.6rem;
            color          : black;
            margin         : 20px;
        }
    }

    
}
